wiltab2011/step3/step3-3b/lex.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT LEX (r)*>
<!ELEMENT r (rule?,c,wil,mw)*>

<!ELEMENT rule (#PCDATA)>
<!ATTLIST rule conf (SURE|LIKELY|ROOT) #IMPLIED>
<!ATTLIST rule class (ERROR|VARIANT|GRAMMAR|ISSUE) #IMPLIED>

<!ELEMENT c (#PCDATA)>
<!ATTLIST c auth (MA|SS) #IMPLIED>
<!ATTLIST c cclass (E|G|V|N|R|Q) #IMPLIED>

<!ELEMENT wil (#PCDATA)>
<!ATTLIST wil err CDATA #IMPLIED>
<!ATTLIST wil corr CDATA #IMPLIED>

<!ELEMENT mw (#PCDATA)>

